<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Task Academy!
    <%= @user.name %></h1>
    <p>
      You have successfully signed up to Task Academy!      your username is: <%= @user.login %>.<br>
    </p>
    <p>Your credentials:</p>
  <p>Email: <%= @user.email %></p>
  <p>Password: Your chosen password</p>
</body>
</html>