<header>
  <h1>Task Academy</h1>
  <nav>
    <%= link_to 'Home', root_path %>
    <%= link_to 'Categories', categories_path %>
    <%= link_to 'Courses', courses_path %>
    <!-- Add other navigation links as needed -->
  </nav>
</header>