<form action="/payments" method="post">
  <!-- Other form fields -->
  <input type="text" name="payment[card_number]" placeholder="Card Number">
  <input type="text" name="payment[expiration_date]" placeholder="Expiration Date (MM/YY)">
  <input type="text" name="payment[cvv]" placeholder="CVV">
  <!-- Submit button -->
</form>
